POSTGRES_DB=uk_agent
POSTGRES_USER=uk_user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

API_PORT=8123
DATABASE_URL=postgresql://uk_user:password@db:5432/uk_agent

DADATA_API_KEY=DADATA_KEY
DADATA_SECRET_KEY=DADATA_SECRET_KEY
